.DS_Store
.idea
/distlibs/
/solr_dist.tmp
/solr_dist
/data
/config/config.local.rb
/static

# dependencies
/qsa-public-spa/node_modules
/qsa-public-spa/.pnp
/qsa-public-spa/.pnp.js

# testing
/qsa-public-spa/coverage

# production
/qsa-public-spa/build

# misc
/qsa-public-spa/.DS_Store
/qsa-public-spa/.env.local
/qsa-public-spa/.env.development.local
/qsa-public-spa/.env.test.local
/qsa-public-spa/.env.production.local

/qsa-public-spa/npm-debug.log*
/qsa-public-spa/yarn-debug.log*
/qsa-public-spa/yarn-error.log*

/qsa-public-spa/.idea/
