// Place all your overrides here
#advancedSearchContainer {
  form > div.row {
    align-items: end;
  }
  .form-control {
    height: calc(1.5em + 0.75rem + 2px);
  }
}

.search-filters ul {
  list-style: none;

  li {
    position: relative;
  }

  .facet-label {
    display: inline-block;
    width: calc(100% - 20px);
  }

  .facet-count {
    position: absolute;
    right: 0;
    top: 0;
  }

  .facet-remove-btn {
    text-align: right;
    padding: 2px 0 2px 12px;
  }
}

.query-subclause {
  padding-left: 1em;
}

.record-context {
 ul {
  list-style: none;
 }
 .current > a,
 .current > span {
  font-weight: bold;
 }
}
