@import "scss-general/qg-variables";
@import "scss-general/qg-font-variables";

// Place all your overrides here
#advancedSearchContainer {
  form > div.row {
    align-items: end;
  }
  .form-control {
    height: calc(1.5em + 0.75rem + 2px);
  }
}

.required-asterix {
 color: red;
}

.search-filters ul {
  list-style: none;

  li {
    position: relative;
  }

  .facet-label {
    display: inline-block;
    width: calc(100% - 20px);
    word-break: break-word;
  }

  .facet-count {
    position: absolute;
    right: 0;
    top: 0;
  }

  .facet-remove-btn {
    text-align: right;
    padding: 2px 0 2px 12px;
  }
}

.query-subclause {
  padding-left: 1em;
}

.record-context {
  clear: both;

  ul {
    list-style: none;
  }
  .current > a,
  .current > span {
    font-weight: bold;
  }
}

#qg-primary-content .login-box {
  position: absolute;
  top: -45px;
  right: 10px;
}

#qg-secondary-content .login-box {
  margin: 5px 10px;
}

.qg-aside {
  a:visited {
    color: $qg-blue-dark !important;
  }
  a {
    text-decoration: none !important;
  }
}

.cart-summary {
  margin-right: 10px;
}

.record-top-request-buttons .top-request-button {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
}

.checkout-actions {
  margin-bottom: 1em;
}

.checkout-actions .qg-btn {
  margin-right: 0.5em;
}

.qg-accordion .collapsing-section input {
  position: initial;
  opacity: initial;
  z-index: initial;

}

.record-tag {
  margin: 5px 10px 5px 0;
  display: inline-block;
}

.tag-btn {
  text-decoration: none !important;
  color: white !important;
}

.search-reset-btn {
  margin-left: 1em;
}

#qg-options {
  margin-top: 1em;
}

.ql-editor {
  min-height: 400px;
}

#qg-side-nav .qsa-snippet-text {
  background-color: #f6f6f6;
}

#qg-side-nav .qsa-snippet-text p {
  margin: 0;
}

.qsa-snippet-text code {
  display: none;
}

/* Get the editor display spacing looking *roughly* like the live view.  */
.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.page-table-actions > * {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.core-information .list-group.list-group-flush {
  margin-top: 10px;
}

.date-picker {
  display: flex;
  flex-wrap: wrap;
}

.date-picker .date-picker-start {
  margin-right: 0.5em;
}

.date-picker .date-picker-end {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.date-picker-range {
  flex-grow: 1;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  min-width: 5em;
}

.date-picker-apply button {
  margin: 0 !important;
  margin-top: 0.5em !important;
}

/* Increase contrast against white */
.text-success {
  color: #308243 !important;
}
.text-muted {
  color: #666 !important;
}
.btn-info,
.badge-info {
  background-color: #075d6b !important;
  border-color: #0a5966 !important;
}

.pagination .page-item.disabled a.page-link {
  text-decoration: none !important;
}

.pagination .page-item.disabled a.page-link,
.pagination .page-item.disabled a.page-link:visited,
.pagination .page-item.disabled a.page-link:active,
.pagination .page-item.disabled a.page-link:hover {
  color: #6c757d !important;
}